body, html { margin: 0; padding: 0; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: #216790; font-family: 'Fjalla One', sans-serif; }

h1 { color: #fff; }

/* CSS customizations */
#content { width: 100%; margin-left: auto; margin-right: auto; padding: 15px; background: #fff; }

.map-template { width: 100%; height: 200px; }

.custom-badge { font-size: 15px; margin-left: 10px; }

.content-padding { padding: 10px 30px 30px 30px; }

.pr15 { padding-right: 10px; }

.mt-20 { margin-top: -20px; }

.widget { width: 30.5%; height: 70px; display: inline-block; margin: 10px; padding: 10px; }
@media (max-width: 1024px) { .widget { width: 100%; } }
.widget .widget-content { display: table; width: 100%; height: 100%; }
.widget .widget-icon { font-size: 40px; color: #fff; display: table-cell; }
.widget .widget-description { display: table-cell; }
.widget .widget-description .widget-title { color: #fff; }
.widget .widget-description .widget-subtitle { font-size: 9px; text-align: right; float: right; padding-right: 4px; color: #eee; }
.widget .widget-description .widget-number { font-size: 40px; }
.widget .widget-description .center-title { position: relative; top: -13px; padding-left: 10px; }

.middle-color-1 { border: 1px solid #336F75; background: #336F75; }

.middle-color-2 { border: 1px solid #75327D; background: #75327D; }

.middle-color-3 { border: 1px solid #8BB129; background: #8BB129; }

.table thead { background: #3A74BB; color: #fff; }
.table tbody { color: black; }
.table tbody .table-row-map-item { background: #D5DBDC; }
.table td { text-align: center; }

.modal-backdrop { opacity: 0.9 !important; }

.spinner-container { text-align: center; margin-top: 35%; }
.spinner-container img { border-radius: 50%; }

.map-canvas-interactive { width: 95%; height: 400px; margin: 0 auto; }

/*# sourceMappingURL=styles.css.map */
