body, html{
	margin: 0;
	padding: 0;
	top:0; left:0; right: 0; bottom: 0;
	width: 100%;
	height: 100%;
	background: $darkPrimary;
  font-family: 'Fjalla One', sans-serif;
}

h1{
	color: $defaultTextColor;
}


/* CSS customizations */
#content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background: $defaultTextColor;
}

.map-template{
  width: 100%;
  height: 200px;
}
.custom-badge{
  font-size: 15px;
  margin-left: 10px;
}

.content-padding{
  padding: 10px 30px 30px 30px;
}

.pr15{
  padding-right: 10px;
}

.mt-20{
  margin-top: -20px;
}

