.modal-backdrop{
  opacity:0.9 !important;
}

.spinner-container{
  text-align: center;
  margin-top: 35%;
  img{
    border-radius: 50%;
  }
}

.map-canvas-interactive{
  width: 95%;
  height: 400px;
  margin : 0 auto;
}
