$defaultTextColor :#fff;

$darkPrimary   : #216790;
$darkSecondary : #0B1840;
$darkThirdty   : #2F4073;
$darkFourty    : #6A79A6;
$darkFivety    : #CFD6EC;

$middlePrimary   : #336F75;
$middleSecondary : #75327D;
$middleThirdty   : #8BB129;
$middleFourty    : #D7EB8C;
$middleFivety    : #F5FDD9;

$ligthPrimary   : #120005;
$ligthSecondary : #120005;
$ligthThirdty   : #9A334F;
$ligthFourty    : #DE859D;
$ligthFivety    : #FAD7E0;