.widget{
  width:  30.5%;
  height: 70px;
  display: inline-block;
  margin: 10px;
  padding: 10px;

  @media (max-width: 1024px){
    width: 100%;
  }

  .widget-content{
    display: table;
    width: 100%;
    height: 100%;
  }

  .widget-icon{
    font-size: 40px;
    color: #fff;
    display: table-cell;
  }
  .widget-description{
    display: table-cell;

    .widget-title{
      color: #fff;
    }
    .widget-subtitle{
      font-size: 9px;
      text-align: right;
      float: right;
      padding-right: 4px;
      color : #eee;
    }
    .widget-number{
      font-size: 40px;
    }

    .center-title{
      position: relative;
      top: -13px;
      padding-left: 10px;
    }
  }
}

.middle-color-1{
  border: 1px solid $middlePrimary;
  background : $middlePrimary;
}

.middle-color-2{
  border: 1px solid $middleSecondary;
  background : $middleSecondary;
}
.middle-color-3{
  border: 1px solid $middleThirdty;
  background : $middleThirdty;
}