<div class="row content-padding mt-20">
	<table class="table table-bordered">
		<thead>
			<td>Category</td>
			<td>Amount Reports</td>
			<td>Show In Map</td>
			<td>Review Area</td>
		</thead>
		<tbody class="table-container"></tbody>
	</table>
</div>