<div class="row content-padding">
<div class="col-sm-4 widget middle-color-1">
	<div class="widget-content">
		<i class="glyphicon glyphicon-globe widget-icon"></i>
		<div class="widget-description">
			<span class="widget-title center-title">Police Crimes Street Reports</span>
			<br>
			<span class="widget-subtitle center-title"> Period : 2013-01</span>
		</div>
	</div>
</div>
<div class="col-sm-4 widget middle-color-2">
	<div class="widget-content">
		<i class="glyphicon glyphicon-flash widget-icon"></i>
		<div class="widget-description">
			<span class="widget-title"><span class="widget-number" id="average">69.22</span> Average</span>
		</div>
	</div>
</div>
<div class="col-sm-4 widget middle-color-3">
	<div class="widget-content">
		<i class="glyphicon glyphicon-bullhorn widget-icon pr15"></i>
		<div class="widget-description">
			<span class="widget-title"><span class="widget-number" id="secure">65%</span> Secure</span>
		</div>
	</div>
</div>
</div>