<div class="modal fade" id="spinner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
		<div class="spinner-container">
      <img src="img/spinner.gif" height="203" width="203">
		</div>
  </div>
</div>