{{#each items.0.records }}
<tr>
	<td> {{ name }} </td>
	<td>
		<div id="odometer_{{@index}}" class="badge custom-badge">{{ items }}</div>
	</td>
	<td>
		<button class="btn btn-default button-maps-visibility" data-map="{{@index}}">Show Reports</button>
	</td>
	<td>
		<button class="btn btn-default button-launch-modal" data-map="{{@index}}">
			<i class="glyphicon glyphicon-map-marker button-launch-modal" data-map="{{@index}}"></i>
		</button>
	</td>
</tr>
<tr id="tableRowMap_{{@index}}" class="table-row-map-item">
	<td colspan="4">
		<div class="map-template" id="mapCategory_{{@index}}"></div>
	</td>
</tr>
{{/each}}